/*
 * For Devices with narrow screen less than 980px
 *
 */
.menu-item {
	font-size: 15px;
}
.footer-section {
	display: none;
}
#footer-container {
	height: 10px;
}
#header-list {
	margin-right: 30px;
}

/* Add toggle menu and hide nav bar */
@media screen and (max-width: 849px) {
	#header-list {
		display: none;
	}
	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	#container {
		position: relative;
		top: 55px;
	}
	#footer {
		position: relative;
		top: 50px;
	}
	.toggle-btn {
		display: inline-block;
		float: right;
		margin-right: 15px;
	}
	.toggle-list-item {
		background-color: #a3dce1;
		color: white;
		font-size: 16px;
		border: none;
		cursor: pointer;
		height: 55px;
		width: 100%;
		text-align: left;
	}
	.toggle-list-item:hover,
	.toggle-list-subitem a:hover {
		background-color: #8cd3d9;
		color: black;
	}
	.toggle-list-subitem {
		font-size: 13px;
		margin-left: 10px;
		color: #585757;
	}
	.toggle-list-subitem a {
		display: block;
		padding-top: 0px;
		padding-bottom: 10px;
	}
	#popup {
	  display: block;
	  width: 220px;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  -webkit-transform: translate(-222px, 55px);
	  transform: translate(-222px,55px);
	  transition: transform 0.3s ease;
	  z-index: 11;
	  background-color: #a3dce1;
	  border: 1px solid lightgrey;
	}
	#popup.open {
	  -webkit-transform: translate(0, 55px);
	  transform: translate(0, 55px);
	}
	#popup ul {
		padding-left: 1.2em;
	}
	.toggle-list-item a {
    	font-family: VAGRoundedStd-Thin, 'Trebuchet MS', sans-serif;
	}
	.section-container h2 {
		font-size: 1.3em;
	}
	#insurance #infoColumn .textContainer h2 {
		margin-top: 1em;
	}
}


@media screen and (max-width: 767px) {
    #insurance aside#sidebar,
    #corporate aside#sidebar,
    #workwithus aside#sidebar,
    #about aside#sidebar {
        display: none;
        float:none;
    }
    #insurance #infoColumn,
    #corporate #infoColumn,
    #workwithus #infoColumn,
    #about #infoColumn {
        width:90%;
        display: block;
    }
}
@media screen and (max-width: 455px) {
    .insurance-offers li span {
        display: block;
    }
    .insurance-offers li span.lineItem {
        font-weight: bold;
        width: 100%;
    }
    .insurance-offers li span.lineContent {
        width: 100%;
        padding-right: 10px;
    }
    #insurance #infoColumn,
    #corporate #infoColumn,
    #workwithus #infoColumn,
    #about #infoColumn {
        width:100%;
    }
}
@media screen and (max-width: 786px) {
    #contactus-form{
        display: block;
        width: 90%;
    }
    .contact-sidebar {
        float: none;
        display: block;
        width: 90%;
    }
}
@media screen and (max-width: 414px) {
    .contact-sidebar h4:first-of-type {
        display: block;
    }
    .side-phone {
        margin-top: 20px;
    }
    .side-phone p:last-child {
        margin-left: 0;
        margin-top: -2px;
    }
}
/* Fit for Mobile Devices */
@media screen and (max-width: 480px) {
  .section-container {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  #medscreen-logo {
  	background-position:center center;
  	background-size:70%;
  }
  #home-logo {
  	background-size: 64%;
  	width: auto;
  }
  h1.section-title, h1.testimonials-title {
  	font-size: 1.7em;
  }
  .content-container {
  	margin-top: 10px;
  }
  #insurance #infoColumn h2,
  #about .heading.contact {
  	font-size: 1.5em;
  }
  .group-name {
  	font-size: 1.1em;
  }
}